.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.div {
  background-color: #16b9ff;
  padding: 5%;
  margin: 5% 10% 5% 20%;
  clip-path: polygon(0 0, 95% 0%, 100% 10%, 100% 100%, 5% 100%, 0% 90%);
  position: relative;
}
.div::after {
  content: '';
  background-color: rgb(44, 43, 43);
  clip-path: polygon(0 0, 95% 0%, 100% 10%, 100% 100%, 5% 100%, 0% 90%);
  position: absolute;
  width:99%;
  height:98.5%;
  top:0.75%;
  left:0.5%;
  z-index:-1;
}


.content {
  color: #ffffff;
  font-family: "Ligconsolata-Bold", Helvetica;
  font-size: 24px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 46px;
}


.text-wrapper {
  font-weight: 700;
}

.h {
  padding-bottom: 3%;
  color: #16b9ff;
  font-family: 'Bruno Ace SC';
  font-size: 60px;
  font-weight: 400;
  letter-spacing: 9px;
  line-height: normal;
  text-align: left;
}
@media (max-width: 768px) 
{
  .div {
    clip-path: polygon(0 0, 100% 0%, 100% 100%, 0% 100%);
    padding: 5% 2% 5% 2%;
    margin: 5%;
    border:1% solid #16b9ff;
  }

  .div::after {
    clip-path: polygon(0 0, 100% 0%, 100% 100%, 0% 100%);
    width: 98%;
    height: 97.5%;
    top: 1.5%;
    left: 1%;
  }

  .content {
    font-size: 18px;
    line-height: 36px;
  }

  .h {
    font-size: 40px;
  }
}
