
.rect{
  /* Rectangle 115 */

width: 100%;
height: 100%;

background: #C3CBD6;
box-shadow: -3px 4px 20px rgba(0, 0, 0, 0.95);
border-radius: 10px 0px 0px 10px;

}
.about_us_title{
  color: #FFF;
  font-family: Michroma;
  font-size: 75px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 7.5px;
  
}

.textarea{
color: #FFF;
font-family: Michroma;
font-size: 19px;
font-style: normal;
font-weight: 400;
line-height: 36px;
}
.xyz1{
  box-shadow: 0 0 20px #26bf47;
}
.xyz2{
  box-shadow: 0 0 20px #2fabe0;
}
.xyz3{
  box-shadow: 0 0 20px #a1c12e;
}
.xyz4{
  box-shadow: 0 0 20px #a230e5;
}

@media screen and (max-width: 1440px) {
  .about_us_title{
    color: #FFF;
    align-items: center;
    font-family: Michroma;
    font-size: 65px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 7.5px;
  }
  .textarea{
    color: #FFF;
    font-family: Michroma;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
    }
}
@media screen and (max-width: 1290px) {
  .about_us_title{
    color: #FFF;
    align-items: center;
    font-family: Michroma;
    font-size: 45px;
    font-style: normal;
    font-weight: 400;
    line-height: normal; 
    letter-spacing: 5.5px;
    
  }
}
@media screen and (max-width: 996px) {
  .about_us_title{
    color: #FFF;
    align-items: center;
    font-family: Michroma;
    font-size: 35px;
    font-style: normal;
    font-weight: 400;
    line-height: normal; 
    letter-spacing: 1.5px; 
  }
  .textarea{
    color: #FFF;
    font-family: Michroma;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 27px;
    }
}



@media screen and (max-width: 1921px) {
  .mobileview_aboutus {
      /* visibility:hidden; */
      display: none;
  }

  .desktopview_aboutus {
      /* visibility:visible; */
      display:flex;
  }
}
@media screen and (max-width: 575px) {
  .desktopview_aboutus {
      /* visibility:hidden; */
      display:none;
  }
  .mobileview_aboutus {
      /* visibility:visible;
       */
       display: block;
  }
}
/* </Switching between desktop/mobile views> */


/* Modifications for mobile view card on Iphone SE */
@media screen and (max-width:380px) {
  .mobile_aboutus_card{
    transform: translate(-50%,-54%);
    margin-top: 25px;
  }
  .carousel_container{
    height: 118vh;
  }
}
