/* Switching between desktop/mobile views*/

@media screen and (max-width: 1445px){
    .mobileview{
        display:none;
        /* visibility:hidden; */
    }
    .desktopview{
        display:flex;
        /* visibility:hidden; */
    }
}
@media screen and (max-width: 550px){
    .desktopview{
        display:none;
        /* visibility:hidden; */
    }
    .mobileview{
        display:flex;
        /* visibility:hidden; */
    }
}


/* Responsiveness for desktop view */
@media screen and (max-width:1445px){
    .card{
        height: 46%;
        width: 83.3%;
        top: 39%;
    }
    .title_container{
        height: 17%;
        width:80%;
        top: 12.5%;
    }
    .title_container div{
        font-size: 30px;
    }
}
@media screen and (max-width:1024px){
    .card{
        height: 50%;
        width: 80%;
        top: 39%;
    }
    .title_container{
        height: 14%;
        width:80%;
    }
    .title_container div{
        font-size: 27px;
    }
}
@media screen and (max-width:840px){
    .card{
        height: 52.5%;
        width: 80%;
        top: 39%;
    }
    .title_container{
        height: 12.5%;
        width:80%;
        top: 15%;   
    }
    .title_container div{
        font-size: 25px;
    }
}
@media screen and (max-width:768px){
    .card{
        height: 55%;
        width: 80%;
        top: 38%;
    }
    .title_container{
        height: 11%;
        width:80%;
        top: 17%;   
    }
    .title_container div{
        font-size: 20px;
    }
}
@media screen and (max-width:600px){
    .card{
        height: 55%;
        width: 80%;
        top: 35%;
    }
    .title_container{
        height: 10%;
        width:80%;
        top: 17%;   
    }
    .title_container div{
        font-size: 18px;
    }
}
/* Responsiveness for mobile view */
@media screen and (max-height: 950px){
.card_image{
    top:20%;
}
.buttons{
    bottom:6.5%;
}
.side_svgs{
    top:9.5%;
}
.center_group{
    top: 40vw;
}    
}

@media screen and (max-height: 800px){
.card_image{
    top:20%;
}
.buttons{
    bottom:5%;
}
.side_svgs{
    top:9%;
    width: 2.75%;
}
}
@media screen and (max-height: 700px){
    .card_image{
        top:14%;
        width: 80vw;;
    }
    .buttons{
        bottom:5%;
    }
    .side_svgs{
        top:10%;
        width: 2.1%;
    }
    .leftsvgs{
        left: 6%;
    }
    .rightsvgs{
        right:6%;
    }
    .profile img{
        height: 250%;
    }
    .center_group{
        top: 27.5vw;
    } 
    }

