.team-dashboard-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

    text-align: center;
    color: #FFF;
    font-family: Michroma;
    font-size: 19px;
    font-style: normal;

    width: 70vw;
    margin: auto;
}

.teams-registered-dashboard {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-top: 7%;
    margin-top: 1%;
}

.team-dashboard-members {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 2px solid #FFF;
    /* padding: 2%; */
    margin-top: 1%;
    margin-bottom: 3.5%;
    width: 50%;
}

/* .team-dashboard-radinite {
    width: 30%;
} */

.team-dashboard-members-names {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 2% 4% 2% 4%;
}

.team-dashboard-icons {
    width: 20px;
    margin-left: auto;
}

.team-dashboard-teamName-display {
    background-color: #FFF;
    color: black;
    padding: 2.5% 4% 2.5% 4%;
}

.team-dashboard-eventName-display {
    padding: 2.5% 4% 2.5% 4%;
}



.p1-dashboard-team-mb {
    grid-column: 1 / 4;
    grid-row: 2 / 4;
    display: flex;
    flex-direction: column;
    color: #FFF;
    font-family: Michroma;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0.9px;
    line-height: 1.5rem;
    border: 2px solid #FFF;
    border-radius: 0 0 1rem 1rem;
    padding: 2rem 0.25rem 1rem 0.25rem;   
}

.name-dashboard-team-mb {
    grid-column: 1 / 4;
    grid-row: 1 / 2;
    color: #FFF;
    font-family: Michroma;
    /* font-size: 58px; */
    font-style: normal;
    /* font-weight: 400; */
    line-height: normal;
    /* letter-spacing: 4.35px; */
    border: 2px solid #FFF;
    border-radius: 1rem 1rem 0 0;
    padding: 1rem 0.25rem 1rem 1rem; 
    margin-bottom: -1.25rem;
    font-size: 26px;
    font-weight: 400;
    letter-spacing: 2.325px;
    display: flex;
    justify-content: space-between;
}

.team-dashboard-icons-mob {
    padding-right: 5%;
}

.teams-registered-dashboard {
    width: 350px;
    height: 250px;
    /* overflow-y: scroll; */
    /* overflow: hidden; */
    /* overflow: auto; */
    display: flex;
    flex-direction: column;
    align-items: center;
    /* padding: 0%; */
    padding: 4%;
}

.team-name-dashboard {
    padding: 5%;
    display: flex;
    /* align-items: center; */
    /* transform: translateY(140%); */
}

@media screen and (max-width: 479px) {
    .p1-dashboard-team-mb{
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        letter-spacing: 0.9px;
        line-height: 1.5rem;
    }

    .name-dashboard-team-mb {
        font-size: 26px;
        font-weight: 400;
        letter-spacing: 2.325px;
    }
}

@media screen and (max-width: 400px) {
    .p1-dashboard-team-mb{
        font-size: 11px;
    }

    .name-dashboard-team-mb {
        margin-bottom: -1.25rem;
    }
}


@media screen and (max-width: 375px) {
    .p1-dashboard-team-mb {
        padding: 2.5rem 0.25rem 1rem 0.75rem;
        padding: 2rem 0.25rem 1rem 0.25rem;
        font-size: 11px;
    }

    .name-dashboard-team-mb {
        font-size: 22px;
        margin-bottom: -1.5rem;
    }
}

@media screen and (max-width: 350px) {
    .p1-dashboard-team-mb{
        font-size: 9px;
        padding: 1.5rem 0.25rem 0.5rem 0.25rem;
    }

    .name-dashboard-team-mb {
        font-size: 18px;
        margin-bottom: -3.5rem;
    }
}

/* @media screen and (max-width: 1500px) {
    .teams-registered-dashboard {
        height: 60%;
    }
}
@media screen and (max-width: 1460px) {
    .team-dashboard-container{
        height: 16%;
        margin-top: -10%;
    }
    .team-dashboard-members {
        margin-top: 1%;
        margin-bottom: 1.5%;
    }
    .team-dashboard-teamName-display {
        padding: 1% 1.5% 1% 1.5%;
        margin: 0;
    }
    .team-dashboard-eventName-display {
        padding: 1% 1.5% 1% 1.5%;
        margin: 0;
    }
    .team-dashboard-members-names{
        padding: 1% 1.5% 1% 1.5%;
        margin: 0;
    }
}
@media screen and (max-width: 1375px) {
    .team-dashboard-container{
        height: 15%;
        margin-top: -12%;
        font-size: 17px;
    }
}
@media screen and (max-width: 1200px) {
    .team-dashboard-container{
        height: 14%;
        margin-top: -14%;
        font-size: 16px;
    }
}
@media screen and (max-width: 1250px) {
    .team-dashboard-container{
        height: 13%;
        margin-top: -13%;
        font-size: 15px;
    }
}
@media screen and (max-width: 1180px) {
    .team-dashboard-container{
        height: 12%;
        margin-top: -15%;
        font-size: 14px;
    }
}
@media screen and (max-width: 1080px) {
    .team-dashboard-container{
        height: 11%;
        margin-top: -17%;
        font-size: 13px;
    }
}
@media screen and (max-width: 1020px) {
    .team-dashboard-container{
        height: 10%;
        margin-top: -18%;
        font-size: 12px;
    }
}
@media screen and (max-width: 950px) {
    .team-dashboard-container{
        height: 9%;
        margin-top: -20%;
        font-size: 11px;
    }
} */

/* @media screen and (max-width: 1460px) {
    .team-dashboard-container{
        height: 20%;
        margin-top: -6%;
    }
    .team-dashboard-members {
        margin-top: 1%;
        margin-bottom: 1.5%;
    }
    .team-dashboard-teamName-display {
        padding: 1% 1.5% 1% 1.5%;
        margin: 0;
    }
    .team-dashboard-eventName-display {
        padding: 1% 1.5% 1% 1.5%;
        margin: 0;
    }
    .team-dashboard-members-names{
        padding: 1% 1.5% 1% 1.5%;
        margin: 0;
    }
}
@media screen and (max-width: 1375px) {
    .team-dashboard-container{
        height: 18%;
        margin-top: -7%;
        font-size: 17px;
    }
}
@media screen and (max-width: 1250px) {
    .team-dashboard-container{
        height: 17%;
        margin-top: -9%;
        font-size: 15px;
    }
}
@media screen and (max-width: 1180px) {
    .team-dashboard-container{
        height: 16%;
        margin-top: -10%;
        font-size: 14px;
    }
}
@media screen and (max-width: 1080px) {
    .team-dashboard-container{
        height: 15%;
        margin-top: -11%;
        font-size: 13px;
    }
}
@media screen and (max-width: 1020px) {
    .team-dashboard-container{
        height: 13%;
        margin-top: -13%;
        font-size: 12px;
    }
}
@media screen and (max-width: 950px) {
    .team-dashboard-container{
        height: 11%;
        margin-top: -15%;
        font-size: 11px;
    }
} */

.team-dashboard-mem-type {
    padding-right: 10%;
}
.team-dashboard-mem-details {
    overflow: hidden;
}

.santosh-select-dashboard {
    color: black!important;
    font-family: Michroma;
}