.events-upcoming-container {
    display: flex;
    /* padding: 20% 10% 20% 10%; */
    /* margin: 20% 10% 20% 10%; */

    width: 100vw;
    height: 90vh;
    height: 65vh;
    justify-content: center;
    align-items: center;
}

.events-upcoming-background {
    width: 90%;
}

.events-upcoming-container::after {
    content: "";
    /* width: 100vw;
    height: 100vh; */
    background: url("../../public/events-coming-soon-background.svg");
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.5;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;   
}

.events-upcoming-back-button {
    width: 10%;
    /* background-color: aqua; */
    margin: auto;
    padding-top: 4%;
    margin-right: 5%;
}

.events-upcoming-back-button:hover {
    /* transform: scaleY(1.25) scaleX(1.25);
    transition: ease-in-out; */
}