
/* Responsiveness */
@media (max-width:1024px){
.STILL-HAVE-QUES{
    font-size: 32.75px;
}
.still-ques{
    margin-bottom: 32.75px;
}
#last-para{
    font-size: 20px;
}
.faqs{
    font-size: 67px;
}
.marquee-font{
    font-size: 22.75px;
}
}

@media (max-width:768px){
.STILL-HAVE-QUES{
    font-size: 25px;
}
.still-ques{
    margin-bottom: 25px;
}
#last-para{
    font-size: 17px;
}
.faqs{
    font-size: 55px;
}
.marquee-font{
    font-size: 17px;
}
}

@media (max-width:480px){
.STILL-HAVE-QUES{
    font-size: 18px;
}
.still-ques{
    margin-bottom: 18px;
}
#last-para{
    font-size: 13px;
}
.faqs{
    font-size: 35px;
}
.marquee-font{
    font-size: 11px;
}
}

@media (max-width:380px){
.STILL-HAVE-QUES{
    font-size: 13.5px;
}
.still-ques{
    margin-bottom: 13.5px;
}
#last-para{
    font-size: 10px;
}
.faqs{
    font-size: 30px;
}
.marquee-font{
    font-size: 8px;
}
}

.marquee_container{
    /* border-width: 20px 0px;
    border-color:white;
    border:solid;
    overflow: hidden; */
    height:30px;
    margin-top: 2%;
    margin-bottom: 2%;
    /* text:blue; */

}
.marquee {
    overflow: hidden;
    /* color: teal; */
    font-weight: 900;
    font-size: 30px;
    /* text-shadow: #25F2DA; */

    /* height: 92vh; */
    /* width: 84vw; */
    /* animation: marquee 6s linear infinite;
     */
    /* font-style: normal; */
}
@media screen and (max-width: 1080px) {
    
    .marquee{
        font-size: 16px;
    }

    .marquee_container{
        height:26px;
        margin-top: 3%;
        margin-bottom: 1%;


    }


}
@media screen and (max-width: 860px) {
    
    .marquee{
        font-size: 16px;
    }

    .marquee_container{
        height:24px;
    }

}
@media screen and (max-width: 650px) {
    
    .marquee{
        font-size: 10px;
    }

    .marquee_container{
        height:16px;
    }


}
@media screen and (max-width: 480px) {
    
    .marquee{
        font-size: 12px;
    }
    .marquee_container{
        height:16px;
    }

}
@media screen and (max-width: 375px) {
    
    .marquee {
        font-size: 14px;
    }

    .marquee_container {
        height: 20px;
        /* font-size: 12px; */
    }


}







/* .marquee {
    overflow: hidden;
    color: white;
    font-weight: 900;
    font-size: 30px;
}
.marquee_container{
    height:30px;
    margin-top: 2%;
    margin-bottom: 2%;
}
.marquee {
    font-family: 'Afacad', sans-serif;
    font-family: 'Bruno Ace SC', sans-serif;
    font-family: 'Michroma', sans-serif;
}
.marquee{
    font-size: 16px;
}
.marquee_container{
    height:26px;
    margin-top: 3%;
    margin-bottom: 1%;
} */

