/* Your existing styles */
.footer-container {
  background-repeat: no-repeat;
  background-image: url("/public/footerBackground.svg");
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  height: fit-content;
  padding: 10px;
  box-sizing: border-box;
 
}

.flayout{
  width: 50%;
  height: 60%;
}
@media (min-width: 1360px) {
.angle-rectangle {
 position: absolute;
 top: -2.3%;
 left: -2%;
 
 width: 50px; /* Set your desired width */
 height: 50px; /* Set your desired height */
 background-color: white;
  /* Set your desired background color */
 transform: rotate(-45deg) ; 
/* Rotate the rectangle by 45 degrees */

}}




/* New media query for smaller screens */
@media (max-width: 1220px) {
 .footer-container {
  background-image: url("/public/footerBackground.svg");
   height: auto;
   width: auto;/* Adjust as needed */

 }
 

}


.footer-line{

  background-image: url("/public/vector-75@2x.png");
  background-size: cover;

}

.text::placeholder{
  color: white;
}




.touch{
 
 color: #FFF;
 margin-left:1%;
font-family: Goldman;
padding: auto;
margin-top: 3%;
font-style: normal;
font-weight: 400;
line-height: normal;
letter-spacing: 3.6px; 
}.submit-button {
 transform: rotate(90deg);
 position: relative;
 background-color: rgba(0, 0, 0, 0.0);
 width: 100%;
 height: 20%;
 overflow: hidden;
 font-family: 'Bruno Ace SC';
 color: white;
 padding: 1rem;
 margin-bottom: 3rem;
 border-radius: 5px;
 cursor: pointer;
 font-size: 130%;
 transition: background-color 0.3s;
}

.submit-button::before {
 content: '';
 position: absolute;
 top: 0%;
 left: -15%;
 width: 150%; /* Adjust the width to a percentage value */
 height: 100%;
 border: 15px dashed white;
 transform: skewX(20deg); /* Initial skewness */
 box-sizing: border-box;
 z-index: -1;
 transition: transform 0.3s; /* Add transition for a smooth effect */
}

.submit-button-mob{
display: flex;
background-color: rgba(0, 0, 0, 0.0);
overflow: hidden;
width: 60.666%;
height: 18.214%;
justify-content: center;
flex-shrink: 0;

border: 5px dashed white;
color: #FFF;
border-radius: 10px;
text-align: center;
font-family: Michroma;
font-size: 100%;
font-style: normal;
font-weight: 400;
line-height: normal;
letter-spacing: 0.375px;

}

.submit-button-mob{
  display: none;
}
.submit-button:hover::before {
 transform: skewX(0deg);
  /* Skewness on hover */
}
@media only screen and (max-width: 600px){
  .flayout{
    margin: none;
  }
}
@media only screen and (max-width: 600px){
  .submit-button{
    display: none;
  }
  .submit-button-mob{
    display: block;
  }
  .gojosaturro{
    transform: translateY(30px);
    height: 86%;
   }
   .footer-line
{
  transform: translateY(30px);
}
.getintouch{
  font-size: 250%;
  margin-top: 10%;
  transform: translateY(30px);
}
.angle-rectangle{
  position: absolute;
  top: -4.5%;
  left: -5%;
  width: 50px; /* Set your desired width */
  height: 50px; /* Set your desired height */
  background-color: white;
   /* Set your desired background color */
  transform: rotate(-45deg) ; 
}
.flayout{
  margin-left: 0%;
}
} 
@media only screen and (max-width: 900px) {
 .submit-button {
   width: 80%; /* Adjust the width for mobile view */
   font-size: 110%; /* Adjust the font size for mobile view */

 }

.flayout{
  width: auto;
  height: auto;
}

 .lin{
   display: none;
  }
 
  .input{
   display: none;
  }
 
  .forminput{
   width: 100%;
  }
 
  .triangle{
   display: none;
  }
 

  .angle-rectangle {
   position: absolute;
   top: -4.5%;
   left: -5%;
   width: 50px; /* Set your desired width */
   height: 50px; /* Set your desired height */
   background-color: white;
    /* Set your desired background color */
   transform: rotate(-45deg) ; 
  /* Rotate the rectangle by 45 degrees */
 
 }
}
