/* <Switching between desktop/mobile views/> */
@media screen and (max-width: 1921px) {
  .mobileview {
      visibility:hidden;
  }

  .gal_desktopview {
      visibility:hidden;
  }
}
@media screen and (max-width: 1920px) {
  .mobileview {
      visibility:hidden;
  }

  .gal_desktopview {
      visibility:visible;
  }
}

/* <responsiveness for the main container /> */
@media screen and (max-width:1920px){
  .heading_placeholder{
    height: 22vw;
  }
}
@media screen and (max-width:1440px){
  .heading_placeholder{
    height: 23.75vw;
  }
}
@media screen and (max-width:1250px){
  .heading_placeholder{
    height: 25vw;
  }
}
@media screen and (max-width:1024px){
  .heading_placeholder{
    height: 245px;
  }
  .gal_img_ctnr{
    width: 25vw;
  }
}
@media screen and (max-width:880px){
  .heading_placeholder{
    height: 220px;
  }
}
@media screen and (max-width:770px){
  .heading_placeholder{
    height:195px;
  }
}
@media screen and (max-width:620px){
  .heading_placeholder{
    height: 175px;
  }
  .gal_img_ctnr{
    width: 40vw;
  }
}
@media screen and (max-width:520px){
  .heading_placeholder{
    height: 152px;
  }
  .gal_img_ctnr{
    width: 70vw;
  }
  .gal_container{
    justify-content: center;
  }
}