
.burger-menu {
    height: 100%;
    width: 4em;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    cursor: pointer;
}

/*  */
.list_point{
    justify-content: left;
}


.glow-text {
    font-size: 16px;
    /* Set the initial text color */
    transition: color 0.3s, text-shadow 0.3s, font-size 0.3s;
  }
  
  .glow-text:hover {
    color: white; /* Set the color when hovering */
    text-shadow: 0 0 1px #25F2DA, 0 0 2px #25F2DA, 0 0 3px #25F2DA; /* Add glow effect */
    font-size: 20px; /* Set the font size when hovering */
  }
  
#ham_txt{
    font-family: 'Afacad', sans-serif;
    font-family: 'Bruno Ace SC', sans-serif;
    font-family: 'Michroma', sans-serif;
}

.burger-bar {
    width: 4em;
    height: 0.5em;
    background-color: rgb(0, 183, 255);
    border-radius: 0.5em;
}

.menu {
    width: 60vw;
    
    background-color: rgb(154, 181,240);
    position: absolute;
    top: 0;
    z-index: -1;
}

/* ------------- sliding menu ------------------ */


/* ----- animations--------- */
/* clicked */
.burger-bar.clicked:nth-child(1){
    transform: rotate(45deg) translate(0.75em, 1.25em);
    transition: ease-out 0.5s;
}

.burger-bar.clicked:nth-child(2){
    transform: scale(0.1);
    transition: ease-out 0.5s;
}

.burger-bar.clicked:nth-child(3){
    transform: rotate(135deg) translate(-0.5em, 1em);
    transition: ease-out 0.5s;
}

/* unclicked */
.burger-bar.unclicked {
    transform: rotate(0) translate(0);
    transition: cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.5s;
}
/* .hambg{
    background-image: url("/public/hambg.svg");
} */