.container {
    padding: 0%;
    min-width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr) repeat(1, 0.25fr);
    align-items: center;
    column-gap: 0;
    row-gap: 0;
}

#hero_container {
    /* border-color: white; */
    border-width: 14px;
    /* align-items: baseline; */
    /* border:solid; */
}
.marquee_container{
    /* border-width: 20px 0px;
    border-color:white;
    border:solid;
    overflow: hidden; */
    height:30px;
    margin-top: 2%;
    margin-bottom: 2%;

}

.glow-text {
    font-size: 16px;
    /* Set the initial text color */
    transition: color 0.3s, text-shadow 0.3s, font-size 0.3s;
}

.glow-text:hover {
    color: white;
    /* Set the color when hovering */
    text-shadow: 0 0 1px #25F2DA, 0 0 2px #25F2DA, 0 0 3px #25F2DA;
    /* Add glow effect */
    font-size: 20px;
    /* Set the font size when hovering */
}

/* CSS for continuous glowing animation */
@keyframes glow {
    0% {
        text-shadow: 0 0 1px #16b9ff, 0 0 2px #16b9ff, 0 0 3px #16b9ff;
    }

    50% {
        text-shadow: 0 0 2px #16b9ff, 0 0 3px #16b9ff, 0 0 4px #16b9ff;
    }

    100% {
        text-shadow: 0 0 1px #16b9ff, 0 0 2px #16b9ff, 0 0 3px #16b9ff;
    }
}

.glow-animation {
    font-size: 16px;
    color: #fff;
    /* Set the initial text color */
    transition: color 0.3s, text-shadow 0.6s, font-size 0.6s;
    animation: glow 1s infinite;
    /* Apply the glow animation */
}

.glow-animation:hover {
    color: white;
    /* Set the color when hovering */
    text-shadow: 0 0 1px #25F2DA, 0 0 2px #25F2DA, 0 0 3px #25F2DA;
    /* Set the initial glow on hover */
    font-size: 20px;
    /* Set the font size when hovering */
    animation: none;
    /* Disable the continuous glow animation on hover */
}

.marquee {
    overflow: hidden;
    color: white;
    font-weight: 900;
    font-size: 30px;
    /* text-shadow: #25F2DA; */

    /* height: 92vh; */
    /* width: 84vw; */
    /* animation: marquee 6s linear infinite;
     */
    /* font-style: normal; */
}

.p1 {
    grid-column: 1 / 3;
    grid-row: 1 / 3;
    font-size: 58px;
    color: white;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-style: normal;
    font-weight: 400;
    line-height: 131.4%;
    padding-left: 10%;
}

.p2 {
    grid-column: 1 / 3;
    grid-row: 3 / 4;
    font-size: 24px;
    line-height: 1.3;
    padding-left: 10%;
    /* margin-top: auto; */
    /* letter-spacing: widest; */
}

.tatvaa_container{
    /* margin-top: 6%; */
    grid-column: 3/4;
    grid-row: 5/6;
    margin-left: 2%;
    margin-bottom: 2%;
    width:260px;
    /* vertical-align: sub;
     */
     /* align-items: flex-end; */
    position: absolute;
    bottom: 0;
    right: 0;
    margin-bottom: 0%;
}

/* .tatvaa_container:hover{
    
} */

/* .tatvaa_card{
    align-items: baseline;
} */

/* .scrolling{
    grid-column:1/5;
    grid-row:3/4;
    display: inline-block;
} */

.logo {
    grid-column: 3 / 4;
    grid-row: 1 / 4;
    margin: auto;
    width: 545px;
    height: 390px;
    margin-bottom: 25%;
    padding-bottom: 10%;
    /* background: radial-gradient(circle, rgba(128,128,128,1) 0%, rgba(17, 17, 21, 1) 60%); */
}

.p1,
.p2,
.marquee {
    font-family: 'Afacad', sans-serif;
    font-family: 'Bruno Ace SC', sans-serif;
    font-family: 'Michroma', sans-serif;
}

@media screen and (max-width: 1080px) {
    .container {
        /* grid-template-columns: repeat(2, 1fr); */
        grid-template-columns: repeat(1, 5fr) repeat(1, 3fr);
        grid-template-rows: repeat(1, 2fr)  repeat(1,0.25fr);
    }

    .p1 {
        grid-column: 1 / 2;
        grid-row: 1 / 2;
        font-size: 40px;
        margin-top: 0%;
    }

    .p2 {
        grid-column: 1 / 2;
        grid-row: 2 / 3;
        font-size: 22px;
        /* margin: revert; */
        /* margin-bottom: 35%; */
    }

    .logo {
        grid-column: 2 / 3;
        grid-row: 1 / 2;
        width: 400px;
        height: 300px;
        margin-top: 0%;
        padding-bottom: 0%;
    }

    .marquee{
        font-size: 16px;
    }

    .marquee_container{
        height:26px;
        margin-top: 3%;
        margin-bottom: 1%;


    }

    .tatvaa_container{
        width:220px;
        grid-row: 2/3;
        grid-column:2/3;
    }

}

@media screen and (max-width: 860px) {
    .p1 {
        font-size: 34px;
    }

    .p2 {
        font-size: 16px;
        /* margin-bottom: 15%; */
    }

    .logo {
        width: 310px;
        height: 225px;
        margin-top: 15%;
    }

    .marquee{
        font-size: 16px;
    }

    .marquee_container{
        height:24px;
    }

    #hero_container{
        border-width: 6px;
    }

    .tatvaa_container{
        width:150px;
    }
}

@media screen and (max-width: 650px) {
    .p1 {
        font-size: 24px;
    }

    .p2 {
        font-size: 12px;
        /* margin-bottom: 15%; */
    }

    .logo {
        width: 215px;
        height: 168px;
        margin-top: 10%;
    }

    .marquee{
        font-size: 10px;
    }

    .marquee_container{
        height:16px;
    }

    #hero_container{
        border-width: 6px;
    }

    .tatvaa_container{
        width:130px;
    }

    /* .tatva_card {
        width: 25%;
    } */
}
@media screen and (max-width: 600px) {

    hero-mb-cardDesign-img {
        /* margin-top: 6%; */
        grid-column: 1 / 2;
        grid-row: 4 / 5;
        margin-left: 5%;
        margin-right: 3.5%;
        /* height: 60px; */
    }

}


@media screen and (max-width: 480px) {
    .p1 {
        font-size: 18px;
    }

    .p2 {
        font-size: 9px;
        /* margin-bottom: 15%; */
    }

    .logo {
        width: 180px;
        height: 140px;
        margin-top: 5%;
    }
    .marquee{
        font-size: 12px;
    }
    .marquee_container{
        height:16px;
    }
    #hero_container{
        border-width: 0px;
    }
    .tatvaa_container{
        width:100px;
    }
}

@media screen and (max-width: 375px) {
    /* .p2 {
        margin-bottom: 25%;
    } */

    .logo {
        margin-top: 25%;
    }

    .marquee {
        font-size: 14px;
    }

    .marquee_container {
        height: 20px;
        /* font-size: 12px; */
    }
    .tatvaa_container{
        width:80px;
    }
    
}


/* MOBILE VIEW */

@media screen and (min-width: 431px) {
    .container-hero-mb {
        display: none;
        /* visibility: hidden; */
    }
    .hero_container-mb {
        display: none;
        /* visibility: hidden; */
    }

    .marquee_container-mb {
        display: none;
        /* visibility: hidden; */
    }

    .glow-text-mb {
        display: none;
        /* visibility: hidden; */
    }

    .container {
        display: grid;
        /* visibility: hidden; */
    }

    .hero_container {
        display: grid;
        /* visibility: hidden; */
    }

    .marquee_container {
        display: grid;
        /* visibility: hidden; */
    }

    .glow-text {
        display: grid;
        /* visibility: hidden; */
    }
}

@media screen and (max-width: 430px) {
    .hero_container1123{
        display:none;
    }

    
    
}

@media screen and (min-width: 430px) {
    .container-hero-mb{
        display:none;
    }

    
    
}

.container-hero-mb {
    padding: 0%;
    min-width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 2fr) repeat(2, 1fr);
    align-items: center;
    column-gap: 0;
    row-gap: 0;
    /* height: 100vh; */
    /* height: 80vh; */
    /* width: 80vw; */
}

.mb_ees_aniamtion {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    /* margin: auto; */
    /* width: 545px;
    height: 390px; */
}

.ees-hero-mb {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    margin: auto;
    /* margin-left: 10%; */
}

.ees-hero-mb-text {
    margin-left: 9.25%;
}

.p1-hero-mb {
    grid-column: 1 / 3;
    grid-row: 2 / 3;
    font-size: 30px;
    color: white;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: Michroma;
    font-style: normal;
    font-weight: 400;
    line-height: 131.4%;
    padding-left: 5%;
    padding-right: 5%;
    margin-left: 10%;
    margin: 5% 0% 5% 10%;
    border-left: 4px solid #fff;
    border-radius: 2%;
}

.p2-hero-mb {
    grid-column: 1 / 3;
    grid-row: 3 / 4;
    text-align: center;
    font-family: Michroma;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 1.2px;
    text-align: center;
    margin: 0;
    padding-left: 2.5%;
    padding-right: 2.5%;
    /* margin-top: auto; */
    /* letter-spacing: widest; */
    margin-bottom: 5%;
    /* min-height: 3rem; */
    min-height: 6rem;
}

.tatvaa_container-mb {
    /* margin-top: 6%; */
    grid-column: 2 / 3;
    grid-row: 4 / 5;
    /* margin-left: 2%;
    margin-bottom: 2%; */
    /* width:260px; */
    /* width:150px; */
    margin-left: 3.5%;
    margin-right: 5%;
}

.hero-mb-cardDesign-img {
    /* margin-top: 6%; */
    grid-column: 1 / 2;
    grid-row: 4 / 5;
    margin-left: 5%;
    margin-right: 3.5%;
    /* height: 60px; */
}

.hero-mb-cardDesign {
    /* margin-top: 6%; */
    grid-column: 1 / 2;
    grid-row: 4 / 5;
    margin-left: 5%;
    margin-right: 3.5%;
    /* height: 60px; */
}

.marquee_container-mb {
    height: 24px;
    font-size: 16px;
}

@media screen and (max-width: 425px) {
    .marquee_container-mb {
        height: 20px;
        font-size: 12px;
    }
}

@media screen and (max-width: 375px) {
    .p2-hero-mb {
        min-height: 7rem;
    }
}

/* <Switching between desktop/mobile views> */
@media screen and (min-width: 1920px) {
    .mb_hero_container {
        visibility:hidden;
    }
  
    .hero_container1123 {
        visibility:hidden;
    }
  }
  @media screen and (max-width: 1921px) {
    .mb_hero_container {
        visibility:hidden;
        display: none;
    }
  
    .hero_container1123 {
        visibility:visible;
    }
  }
  @media screen and (max-width: 575px) {
    .mb_hero_container {
        visibility:visible;
        display: block;
    }
    .hero_container1123 {
        visibility:hidden;
        display: none;
    }
  }
  /* </Switching between desktop/mobile views> */
  