.container {
    padding: 0%;
    min-width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(5, 1fr);
    align-items: center;
    column-gap: 0;
    row-gap: 0;
}

.p1 {
    grid-column: 1 / 3;
    grid-row: 2 / 4;
    font-size: 58px;
    padding-left: 10%;
    color: #25F2DA;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-style: normal;
    font-weight: 400;
    line-height: 131.4%;
}

.p2 {
    grid-column: 1 / 3;
    grid-row: 4 / 5;
    font-size: 24px;
    line-height: 1.3;
    padding-left: 10%;
    margin-top: auto;
}

.logo {
    grid-column: 3 / 4;
    grid-row: 2 / 5;
    margin: auto;
    width: 545px;
    height: 390px;
    /* background: radial-gradient(circle, rgba(128,128,128,1) 0%, rgba(17, 17, 21, 1) 60%); */
}

.p1, .p2 {
    font-family: 'Afacad', sans-serif;
    font-family: 'Bruno Ace SC', sans-serif;
    font-family: 'Michroma', sans-serif;
}

@media screen and (max-width: 1080px){
    .container {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }

    .p1 {
        grid-column: 1 / 2;
        grid-row: 1 / 2;
        font-size: 48px;
    }

    .p2 {
        grid-column: 1 / 2;
        grid-row: 2 / 3;
        font-size: 22px;
        margin: revert;
        margin-bottom: 35%;
    }

    .logo {
        grid-column: 2 / 3;
        grid-row: 1 / 3;
        width: 400px;
        height: 300px;
        margin-top: 25%;
    }
}    

@media screen and (max-width: 860px){
    .p1 {
        font-size: 34px;
    }

    .p2 {
        font-size: 16px;
        margin-bottom: 15%;
    }

    .logo {
        width: 310px;
        height: 225px;
        margin-top: 15%;
    }
}  

@media screen and (max-width: 650px){
    .p1 {
        font-size: 24px;
    }

    .p2 {
        font-size: 12px;
        margin-bottom: 15%;
    }

    .logo {
        width: 215px;
        height: 168px;
        margin-top: 20%;
    }
}  

@media screen and (max-width: 480px){
    .p1 {
        font-size: 18px;
    }

    .p2 {
        font-size: 9px;
        margin-bottom: 15%;
    }

    .logo {
        width: 180px;
        height: 140px;
        margin-top: 15%;
    }
}

@media screen and (max-width: 375px){
    .p2 {
        margin-bottom: 25%;
    }

    .logo {
        margin-top: 25%;
    }
}