/* this css is arising issue with dashboard , by applying the bg image a kind of universal bg image */

/* body {
  background-image: url("../../public/image 36.svg");
  background-size: cover;
  background-repeat: no-repeat;
} */
