.login-page {
  background-image: url("../../public/image 36.svg");
  background-size: cover;
  background-repeat: no-repeat;
  
}
.SignUp-card-heading {
  font-size: 1rem;
}

/* Medium screens and above */
@media (min-width: 768px) {
  .SignUp-card-heading {
    font-size: 0.5rem;
  }
}

/* Large screens and above */
@media (min-width: 1024px) {
  .SignUp-card-heading {
    font-size: 1rem;
    padding-bottom: 1.5rem;
  }
}

.SignUp-card-whiteDiv {
  background-image: url("../../public/Vector 91.svg");
  background-size: cover;
  background-repeat: no-repeat;
}

.SignUp-card-blackDiv {
  background-image: url("../../public/Vector 92.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position-x: center;
  background-size: 100%;
}

.EES-logo {
  background-image: url("../../public/ees_logo_FCFBFC 1.svg");
  background-size: contain;
  background-repeat: no-repeat;
}

.SignUp-card-heading {
  color: #000;
  text-align: center;
  font-family: Goldman;
  font-size: 77px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 5.775px;
}

.SignUp-card-blackDiv-whiteEESpattern {
  background-image: url("../../public/Vector 93.svg");
  background-size: contain;
  background-repeat: no-repeat;
}

.SignUp-card-blackDiv-eesdesign {
  background-image: url("../../public/EES-design-signup page .svg");
  background-size: contain;
  background-repeat: no-repeat;
}

/* styles.css */

.white-placeholder::placeholder {
  color: white;
  /* Add any other styles you want for the placeholder text */
}

.signup-button-blackDiv {
  background-image: url("../../public/Vector 95.svg");
  background-image: cover;
  background-repeat: no-repeat;
  color: #000;
  text-align: center;
  font-family: Goldman;

  font-size: 1.75rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 5.775px;
}

.submit-button-signup {
  background-image: url("");
}

.signup-button-blackDivAlreadyHaveAnAccount {
  color: #fff;

  text-align: center;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: Goldman;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 1.2px;
}

.signupButton-text {
  color: black;
  text-align: center;
  font-family: Goldman;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 1.2px;
}
/* .signup-button-blackDivloginwithgoogle {
  color: #fff;

  text-align: center;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: Goldman;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 1.2px;
} */

/* .or{
background-image: url("../../public/OR.svg");
background-repeat: no-repeat;
background-size: contain;
color: black;
text-align: center;
font-family: Goldman;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: normal;
letter-spacing: 1.2px;
} */
