.otp-verification-container {
    /* background-image: ""; */
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: auto;
}

.email-otp {
    font-size: large;
    color: #FFF;
    margin-top: 10%;
}

.otp-label {
    font-size: medium;
    color: #FFF;
    text-align: center;
}

.search-bar {
    border: 4px solid lightgray;
    border-radius: 15px;
    padding: 70px;
    margin-top: 10%;
}

.search-bar form {
    display: flex;
    flex-direction: column;
}