body{
  background-color: rgb(7, 9, 9);
}
.y1,.y2{
width: 400px;
height: 180px;
background-color: #16b9ff;
box-shadow: 10px 10px 20px rgba(22, 185, 255, 0.5);
clip-path: polygon(10% 0%, 100% 0%, 100% 79%, 90% 100%, 0% 100%,0% 21%);
background-color: white;
display: inline-block;
}
.y2{
 width:99%;
 height:98.5%;
 background-color:rgb(70, 68, 68);
 display: inline-block;
 position: relative;
 top:0.75%;
 left:0.5%;
 color: white;
}
.icon_speaker{
  width: 136px;
  clip-path: polygon(10% 0, 100% 0%, 100% 90%, 90% 100%, 0% 100%,0% 10%);
  position: absolute;
  top:10%;
  left:2%;
}
.name{
  display: inline-block;
  position:absolute;
  color:white;
  top:27%;
  left:40%;
  font-size:28px;
}
.name1{
  display: inline-block;
  position:absolute;
  color:white;
  top:44%;
  left:40%;
  font-size:16px;
}
.git{
  position:absolute;
  top:68%;
  left:40%;
  width:13%;
}
.face{
  position:absolute;
  top:68%;
  left:70%; 
  width:13%; 
}
.ins{
  position:absolute;
  top:68%;
  left:55%; 
  width:13%;
}
.corner-border,
.corner-border1 {
position: absolute;
border-bottom: 1px dashed #fff;
border-left: 6px dashed #fff;
box-sizing: border-box;
width: 45.3px;
height: 39.7px;
top:70%;
left:2%;
}
.corner-border1 {
top:29%;
left:98%;
transform: rotate(180deg);
transform-origin: 0 0;
}
.con2{
  margin-top: 1%;
  padding-left:50%;
  padding-right:5%;
}
.con3{
  margin-top: 1%;
  padding-left: 10%;
  padding-right: 45%;
}
.con1{
  padding-left: 10%;
  padding-right: 45%;
}
.con4{
  margin-top: 1%;
  padding-left: 50%;
  padding-right: 5%;
}
.surendra{
  position: relative;
  margin-top: 20%;
}
.speaker{
  font-size: 7vw;
  letter-spacing: 0.2em;
  line-height: 131.4%;
  font-family: Michroma;
  color:white;
  text-align: center;
}
.border1{
  padding-left: 25%;
}
.border{
  width:80%;
}
.surendramob{
  display: none;
}
.subhmob{
  display:none;
}
.mathangimob{
  display:none;
}
.ronitmob{
  display:none;
}
.Linkedin2{
  position: absolute;
  top:72%;
  left:5%;
}
@media (max-width:1000px){
  .con2{
    margin-top: 12%;
    padding-left: 45%;
  }
  .con3{
    margin-top: 12%;
    padding-left: 5%;
  }
  .con1{
    padding-left: 5%;
    margin-top:12%;
  }
  .con4{
    margin-top: 12%;
    padding-left: 45%;
  }
}
@media (max-width:600px){
  .con1,.con2,.con3,.con4{
      padding-left: 15%;
  }
}
@media (max-width:500px){
  .con1,.con2,.con3,.con4{
      padding-left:5%;
      padding-right: 5%;
  }
  .y1,.y2{
      width: 90%;
      height: 180px;
      background-color: #16b9ff;
      box-shadow: 10px 10px 20px rgba(22, 185, 255, 0.5);
      clip-path: polygon(10% 0%, 100% 0%, 100% 79%, 90% 100%, 0% 100%,0% 21%);
      background-color: white;
      display: inline-block;
    }
    .y2{
       width:99%;
       height:98.5%;
       background-color:rgb(70, 68, 68);
       display: inline-block;
       position: relative;
       top:0.75%;
       left:0.5%;
       color: white;
    }
    .name{
      display: inline-block;
      position:absolute;
      color:white;
      top:27%;
      left:52%;
      font-size:23px;
  }
  .name1{
      display: inline-block;
      position:absolute;
      color:white;
      top:44%;
      left:52%;
      font-size:13px;
  }
  .git{
    position:absolute;
    top:70%;
    left:50%;
}
.face{
    position:absolute;
    top:70%;
    left:80%;  
}
.ins{
    position:absolute;
    top:70%;
    left:65%; 
}
.surendramob,.mathangimob,.ronitmob,.subhmob{
  display:inline-block;
}
.surendradesk,.mathangidesk,.ronitdesk,.subhdesk{
  display: none;
}
}
@media (max-width:281px){
  .con1,.con2,.con3,.con4{
      padding-left: 2.5%;
      padding-right: 5%;
  }
  .y1,.y2{
      width: 95%;
      height: 180px;
      background-color: #16b9ff;
      box-shadow: 10px 10px 20px rgba(22, 185, 255, 0.5);
      clip-path: polygon(14% 0%, 100% 0%, 100% 79%, 90% 100%, 0% 100%,0% 21%);
      background-color: white;
      display: inline-block;
    }
    .y2{
       width:99%;
       height:98.5%;
       background-color:rgb(70, 68, 68);
       display: inline-block;
       position: relative;
       top:0.75%;
       left:0.5%;
       color: white;
    }
    .git{
      position:absolute;
      top:70%;
      left:50%;
  }
  .face{
      position:absolute;
      top:70%;
      left:80%;  
  }
  .ins{
      position:absolute;
      top:70%;
      left:65%; 
  }
  .name{
      display: inline-block;
      position:absolute;
      color:white;
      top:27%;
      left:52%;
      font-size:23px;
  }
  .name1{
      display: inline-block;
      position:absolute;
      color:white;
      top:44%;
      left:52%;
      font-size:13px;
  }
  .surendramob,.mathangimob,.ronitmob,.subhmob{
    display:inline-block;
  }
  .surendradesk,.mathangidesk,.ronitdesk,.subhdesk{
    display: none;
  }
}


