@import url("https://fonts.googleapis.com/css2?family=Goldman:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Michroma:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ligconsolata:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Audiowide:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bruno+Ace+SC:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Libre+Barcode+39:wght@400&display=swap");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  @apply leading-[normal] m-0;
}
*,
::before,
::after {
  border-width: 0;
}
